[Desktop Entry]
Type=Application
Name=Fcitx 5
Name[vi]=Fcitx 5
Comment=Start Fcitx 5 input method framework
Comment[vi]=Khởi động bộ gõ Fcitx 5
Exec=fcitx5 -d
Icon=org.fcitx.Fcitx5
Terminal=false
Categories=System;Utility;
X-GNOME-Autostart-enabled=true
OnlyShowIn=X-Cinnamon;GNOME;MATE;XFCE;LXQt;KDE;
